<footer class="footer" >
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Home Work Forum</h3>
          <h4 class="mb-0 font-weight-light">Description Quote to be written</h4>
        </div>
        <div class="col-lg-6 text-lg-center btn-wrapper">
          <a target="_blank" href="/" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
            <i class="fa fa-twitter"></i>
          </a>
          <a target="_blank" href="/" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a target="_blank" href="/" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow us">
            <i class="fa fa-dribbble"></i>
          </a>
          <a target="_blank" href="/" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; {{test | date: 'yyyy'}}
            <a href="" target="_blank">Squad ninja</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="" class="nav-link" target="_blank">Squad ninja</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link" target="_blank">Contactus</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  